<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-header">
      <div class="user-name">
        <a href="#">ぬるぽ</a>
      </div>
      <div class="create-chat">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="rooms">
      <div class="room">
        <div class="room-name">
          <a href="#">chatroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">chatroom2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-main">
    <%= render "main_chat" %>
    <div class="chat-header">
    </div>
    <div class="chat">
    </div>
    <div class="chat-footer">
    </div>
  </div>
</div>